<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传-蔡浩</title>
</head>
<body>
    <div>
        <form method="post" action="loginuser" enctype="multipart/form-data">
            用户名：<input name="username" type="text" placeholder="请输入用户名"/>
            <br>
            用户头像：<input name="headpic" type="file" placeholder="请选择头像">
            <br>
            <input type="submit" value="注册">
        </form>

    </div>
</body>
</html>